<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base64</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <ul class="nav-left">
            <li><a href="/dashboard.html">Home</a></li>
            <li><a href="/tools">Tools</a></li>
        </ul>

        <div class="nav-right">
            <div class="logo2-box">
                <img src="/static/logo2" alt="Company Logo">
            </div>
            <button class="logout-btn" onclick="window.location.href='/'">Logout</button>
        </div>
    </nav>





    <!-- Base64 Encode/Decode Tool -->
    <div class="tool-container">
        <fieldset>

            <legend>Base64 Encode / Decode Tool</legend>
            <label for="inputText">Enter Text:</label>
            <textarea id="inputText" placeholder="Enter your text here..."></textarea>

            <div style="margin-top:10px;">
                <label for="mode">Select Mode:</label>
                <select id="mode">
                    <option value="encode">Encode</option>
                    <option value="decode">Decode</option>
                </select>
            </div>

            <button onclick="processBase64()">Submit</button>

            <h3>Output:</h3>
            <div id="output" class="output-box"></div>
    </div>
    </fieldset>




    <script src="/static/script.js"></script>

</body>

</html>